
<div class="main-div">
  <h1 style="margin-left: 2%; margin-top: 2%" class="h1-resultados">Resultados</h1>
  <mat-grid-list cols="5" rowHeight="350">
    <mat-grid-tile *ngFor="let item of search | slice:0:10;">
      <div style="align-content: center">
        <div class="img-play-list">
          <img [src]="item.cover_medium">
          <div class="icon-play">
            <i class="fas fa-play" (click)="FindId(item.id)"></i>
          </div>
        </div>
        <div style="display: block">
          <span style="display: block; line-height: 30px" class="p-title">{{item.title}}</span>
          <span style="display: block" class="p-name">{{item.artist.name}}</span>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<footer class="main-footer">
  <div class="footer" style="display: flex">
    <div class="img-footer">
      <img style="height: 100%" [src]="getAlbum.cover_small">
    </div>
    <div class="div-name-song">
      <span class="name-song">{{this.title}}</span>
      <span *ngIf="this.title && this.artist"> - </span>
      <span class="name-song">{{this.artist}}</span>
    </div>
    <div class="footer-buttom">
      <button class="button-footer2" (click)="back()"><i class="fas fa-step-backward"></i></button>
      <button class="button-footer" (click)="play()">
        <i *ngIf="!reproduciendo" class="fas fa-play"></i>
        <i *ngIf="reproduciendo" class="fas fa-pause"></i></button>
      <button  class="button-footer2" (click)="next()"><i class="fas fa-step-forward"></i></button>
    </div>
    <div class="icon-pause">
      <i *ngIf="sound" (click)="pause()" class="fas fa-volume-up"></i>
      <i *ngIf="!sound" (click)="pause()" class="fas fa-volume-mute"></i>
    </div>
    <div class="input-volume" style="display: flex">
      <input type="range" min="0" max="1" step="0.01" value="0.5" (input)="setVolume($event)">
    </div>
  </div>

</footer>
