
.p-title{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 17px;
}
.p-name{
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 15px;
}
.icon-play{
  position: absolute;
  font-size: 100px;
  color: white;
}
.img-play-list{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.h1-resultados{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #e86060;
}
.audio-player{
  color: #EB5757;
}
.footer{
  bottom: 0;
  background-color: #EB5757;
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;

}
.input-volume{
  position: fixed;
  right: 6px;
}
.footer-buttom{
  position: fixed;
  width:200px;
  bottom: 10px;
  left: 1100px;
}
.button-footer{
  background-color: #FF7676;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  color: white;
  border: 1px;

}
.fas fa-play{
  color: #ffffff;
}
.button-footer2{
  background: transparent;
  border: 1px solid #EB5757;
}
.img-footer{
  display: block;
  float:left;
  height: 100%;
  object-fit: cover;
}
.name-song{
  align-items: center;
  font-weight: bold;
}
.div-name-song{
  float: left;
  margin-left: 5px;
  width: 500px;

}
.main-footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.icon-pause{
  position: fixed;
  right: 160px;
}

